@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*Legacy support*/

* {
  margin:0;
  padding:0;
  
  --color_primary-hex: #FF385C; /*<-- Seed color to change them all*/
  --hue-differentiator: 180;/*hue degree*/
  --saturation-factor: 5; /*Saturation level*/
  --base_lightness: 50;
  --base_lightness_black: 20;  /* Lightness for the brightest dark theme */
  --base_lightness_white: 100;  /* Lightness for white */
  --module_ratio: 1.25; /*proportions ratio*/
  
}



@supports not (color: hsl( from #000000 180 100 50)){

  html{

  --color_primary: hsl(from var(--color_primary-hex) h s l );
  
  /*Secondary color hsl*/
  --ratio__sec_h: calc(h - var(--hue-differentiator) * 1deg);
  --ratio__sec_s: 70; /*Saturation. Default 100*/
  --ratio__sec_l: 60; /*Lightness. Default 50*/
  --color_secondary: hsl(from var(--color_primary) 
                     calc((var(--ratio__sec_h) ))
                     calc((var(--ratio__sec_s) )*1%)
                     calc((var(--ratio__sec_l))*1%));
  --color_secondary_rgb: rgb(from var(--color_secondary) r g b);
  /**/
  
  /*Primary and secondary level spreads*/
 
  




    /* Brightness levels including primary color */
    --color_primary_hsl_100: hsl(from var(--color_primary) h s calc((var(--base_lightness) + 45)*1%));
    --color_primary_hsl_200: hsl(from var(--color_primary) h s calc((var(--base_lightness) + 35)*1%)); 
    --color_primary_hsl_300: hsl(from var(--color_primary) h s calc((var(--base_lightness) + 25)*1%)); 
    --color_primary_hsl_400: hsl(from var(--color_primary) h s calc((var(--base_lightness) + 15)*1%));  
    --color_primary_hsl_500: hsl(from var(--color_primary) h s calc((var(--base_lightness) + 0)*1%));
    --color_primary_hsl_600: hsl(from var(--color_primary) h s calc((var(--base_lightness) - 20)*1%)); 
    --color_primary_hsl_700: hsl(from var(--color_primary) h s calc((var(--base_lightness) - 35)*1%)); 
  
    --color_secondary_hsl_100: hsl(from var(--color_secondary) h s calc((var(--base_lightness) + 45)*1%));
    --color_secondary_hsl_200: hsl(from var(--color_secondary) h s calc((var(--base_lightness) + 35)*1%)); 
    --color_secondary_hsl_300: hsl(from var(--color_secondary) h s calc((var(--base_lightness) + 25)*1%)); 
    --color_secondary_hsl_400: hsl(from var(--color_secondary) h s calc((var(--base_lightness) + 15)*1%));  
    --color_secondary_hsl_500: hsl(from var(--color_secondary) h s calc((var(--base_lightness) + 0)*1%));
    --color_secondary_hsl_600: hsl(from var(--color_secondary) h s calc((var(--base_lightness) - 20)*1%)); 
    --color_secondary_hsl_700: hsl(from var(--color_secondary) h s calc((var(--base_lightness) - 35)*1%)); 
  
  
  /*Neutral core hsl*/

    
    /* Neutral Dark Theme shades: */
    --color_level_dark_hsl_100: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 30)*1%));
    --color_level_dark_hsl_200: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 20)*1%));
    --color_level_dark_hsl_300: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 10)*1%));
    --color_level_dark_hsl_400: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 5)*1%));
    --color_level_dark_hsl_500: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 2)*1%));
    --color_level_dark_hsl_600: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 1)*1%));
    --color_level_dark_hsl_700: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_black) + 0)*1%));

    /* Neutral Bright Theme shades: */
    --color_level_bright_hsl_100: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 30)*1%));
    --color_level_bright_hsl_200: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 20)*1%));
    --color_level_bright_hsl_300: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 10)*1%));
    --color_level_bright_hsl_400: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 5)*1%));
    --color_level_bright_hsl_500: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 2)*1%));
    --color_level_bright_hsl_600: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 1)*1%));
    --color_level_bright_hsl_700: hsl(from var(--color_primary) var(--hue-differentiator) calc(var(--saturation-factor)*1%) calc((var(--base_lightness_white) - 0)*1%));
  
  
  /*RGB Everything:*/
  /*primary*/
  --color_primary_100: rgb(from var(--color_primary_hsl_100) r g b);
  --color_primary_200: rgb(from var(--color_primary_hsl_200) r g b);
  --color_primary_300: rgb(from var(--color_primary_hsl_300) r g b);
  --color_primary_400: rgb(from var(--color_primary_hsl_400) r g b);
  --color_primary_500: rgb(from var(--color_primary_hsl_500) r g b);
  --color_primary_600: rgb(from var(--color_primary_hsl_600) r g b);
  --color_primary_700: rgb(from var(--color_primary_hsl_700) r g b);

    /*secondary*/
  --color_secondary_100: rgb(from var(--color_secondary_hsl_100) r g b);
  --color_secondary_200: rgb(from var(--color_secondary_hsl_200) r g b);
  --color_secondary_300: rgb(from var(--color_secondary_hsl_300) r g b);
  --color_secondary_400: rgb(from var(--color_secondary_hsl_400) r g b);
  --color_secondary_500: rgb(from var(--color_secondary_hsl_500) r g b);
  --color_secondary_600: rgb(from var(--color_secondary_hsl_600) r g b);
  --color_secondary_700: rgb(from var(--color_secondary_hsl_700) r g b);
  
  /*Neutral darks*/
  --color_level_dark_100: rgb(from var(--color_level_dark_hsl_100) r g b);
  --color_level_dark_200: rgb(from var(--color_level_dark_hsl_200) r g b);
  --color_level_dark_300: rgb(from var(--color_level_dark_hsl_300) r g b);
  --color_level_dark_400: rgb(from var(--color_level_dark_hsl_400) r g b);
  --color_level_dark_500: rgb(from var(--color_level_dark_hsl_500) r g b);
  --color_level_dark_600: rgb(from var(--color_level_dark_hsl_600) r g b);
  --color_level_dark_700: rgb(from var(--color_level_dark_hsl_700) r g b);
  
  /*Neutral brights*/
  --color_level_bright_100: rgb(from var(--color_level_bright_hsl_100) r g b);
  --color_level_bright_200: rgb(from var(--color_level_bright_hsl_200) r g b);
  --color_level_bright_300: rgb(from var(--color_level_bright_hsl_300) r g b);
  --color_level_bright_400: rgb(from var(--color_level_bright_hsl_400) r g b);
  --color_level_bright_500: rgb(from var(--color_level_bright_hsl_500) r g b);
  --color_level_bright_600: rgb(from var(--color_level_bright_hsl_600) r g b);
  --color_level_bright_700: rgb(from var(--color_level_bright_hsl_700) r g b);



/*-----------------------------------------*/ 
/*TYPOGRAPHY*/
/*typefaces:*/
--typeface-heading: "Open Sans", sans-serif;
--typeface-body: "Open Sans", sans-serif;
--font-size-body: 1rem;

  
 /*weight from 300 to 800*/
--font-weight-key: 300;
  
  /*font sizes*/
  --font-size-small: calc(var(--font-size-body) / var(--module_ratio));
  --font-size-h6: calc(var(--font-size-body)*var(--module_ratio));
  --font-size-h5: calc(var(--font-size-h6) * var(--module_ratio));
  --font-size-h4: calc(var(--font-size-h5) * var(--module_ratio));
  --font-size-h3: calc(var(--font-size-h4) * var(--module_ratio));
  --font-size-h2: calc(var(--font-size-h3) * var(--module_ratio));
  --font-size-h1: calc(var(--font-size-h2) * var(--module_ratio));
  

  /*font weights--Variable Fonts only*/
  --font-weight-h6: calc(var(--font-weight-key) * var(--module_ratio));
  --font-weight-h5: calc(var(--font-weight-h6) * var(--module_ratio));
  --font-weight-h4: calc(var(--font-weight-h5) * var(--module_ratio));
  --font-weight-h3: calc(var(--font-weight-h4) * var(--module_ratio));
  --font-weight-h2: calc(var(--font-weight-h3) * var(--module_ratio));
  --font-weight-h1: calc(var(--font-weight-h2) * var(--module_ratio));
  
/*-----------------------------------------*/
  
  margin:0;
  padding:0;
  font-family: Arial, Sans-Serif;
  font-weight:regular;
  font-size:16px;
  }
}
/*Modern browsers*/


@supports (color: hsl( from #000000 180 100 50)){
html{

  --color_primary: hsl(from var(--color_primary-hex) h  s l );
  /*Secondary color hsl*/
  --ratio__sec_h: calc(h - var(--hue-differentiator));
  --ratio__sec_s: 70; /*Saturation. Default 100*/
  --ratio__sec_l: 60; /*Lightness. Default 50*/
  --color_secondary: hsl(from var(--color_primary) 
                     var(--ratio__sec_h) 
                     var(--ratio__sec_s)
                     var(--ratio__sec_l));
  --color_secondary_rgb: rgb(from var(--color_secondary) r g b);
  /**/
  --ratio__ter_h: calc( h - 120);
  --ratio__ter_s: 100; /*Saturation. Default 100*/
  --ratio__ter_l: 50; /*Lightness. Default 50*/
  --color_tertiary: hsl(from var(--color_primary) 
                     var(--ratio__ter_h) 
                     var(--ratio__ter_s) 
                     var(--ratio__ter_l));
  --color_tertiary_rgb: rgb(from var(--color_tertiary) r g b);

    /* Brightness levels including primary color */
    --color_primary_hsl_100: hsl(from var(--color_primary) h s calc(var(--base_lightness) + 45));
    --color_primary_hsl_200: hsl(from var(--color_primary) h s calc(var(--base_lightness) + 35)); 
    --color_primary_hsl_300: hsl(from var(--color_primary) h s calc(var(--base_lightness) + 25)); 
    --color_primary_hsl_400: hsl(from var(--color_primary) h s calc(var(--base_lightness) + 15));  
    --color_primary_hsl_500: hsl(from var(--color_primary) h s calc(var(--base_lightness) + 0));
    --color_primary_hsl_600: hsl(from var(--color_primary) h s calc(var(--base_lightness) - 20)); 
    --color_primary_hsl_700: hsl(from var(--color_primary) h s calc(var(--base_lightness) - 35)); 
  
    --color_secondary_hsl_100: hsl(from var(--color_secondary) h s calc(var(--base_lightness) + 45));
    --color_secondary_hsl_200: hsl(from var(--color_secondary) h s calc(var(--base_lightness) + 35)); 
    --color_secondary_hsl_300: hsl(from var(--color_secondary) h s calc(var(--base_lightness) + 25)); 
    --color_secondary_hsl_400: hsl(from var(--color_secondary) h s calc(var(--base_lightness) + 15));  
    --color_secondary_hsl_500: hsl(from var(--color_secondary) h s calc(var(--base_lightness) + 0));
    --color_secondary_hsl_600: hsl(from var(--color_secondary) h s calc(var(--base_lightness) - 20)); 
    --color_secondary_hsl_700: hsl(from var(--color_secondary) h s calc(var(--base_lightness) - 35));
  
  
  /*Neutral core hsl*/

    
    /* Neutral Dark Theme shades: */
    --color_level_dark_hsl_100: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 30));
    --color_level_dark_hsl_200: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 20));
    --color_level_dark_hsl_300: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 10));
    --color_level_dark_hsl_400: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 5));
    --color_level_dark_hsl_500: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 2));
    --color_level_dark_hsl_600: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 1));
    --color_level_dark_hsl_700: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_black) + 0));

    /* Neutral Bright Theme shades: */
    --color_level_bright_hsl_100: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 30));
    --color_level_bright_hsl_200: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 20));
    --color_level_bright_hsl_300: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 10));
    --color_level_bright_hsl_400: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 5));
    --color_level_bright_hsl_500: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 2));
    --color_level_bright_hsl_600: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 1));
    --color_level_bright_hsl_700: hsl(from var(--color_primary) var(--hue-differentiator) var(--saturation-factor) calc(var(--base_lightness_white) - 0));
  
  
  /*RGB Everything:*/
  /*primary*/
  --color_primary_100: rgb(from var(--color_primary_hsl_100) r g b);
  --color_primary_200: rgb(from var(--color_primary_hsl_200) r g b);
  --color_primary_300: rgb(from var(--color_primary_hsl_300) r g b);
  --color_primary_400: rgb(from var(--color_primary_hsl_400) r g b);
  --color_primary_500: rgb(from var(--color_primary_hsl_500) r g b);
  --color_primary_600: rgb(from var(--color_primary_hsl_600) r g b);
  --color_primary_700: rgb(from var(--color_primary_hsl_700) r g b);

    /*secondary*/
  --color_secondary_100: rgb(from var(--color_secondary_hsl_100) r g b);
  --color_secondary_200: rgb(from var(--color_secondary_hsl_200) r g b);
  --color_secondary_300: rgb(from var(--color_secondary_hsl_300) r g b);
  --color_secondary_400: rgb(from var(--color_secondary_hsl_400) r g b);
  --color_secondary_500: rgb(from var(--color_secondary_hsl_500) r g b);
  --color_secondary_600: rgb(from var(--color_secondary_hsl_600) r g b);
  --color_secondary_700: rgb(from var(--color_secondary_hsl_700) r g b);
  
  /*Neutral darks*/
  --color_level_dark_100: rgb(from var(--color_level_dark_hsl_100) r g b);
  --color_level_dark_200: rgb(from var(--color_level_dark_hsl_200) r g b);
  --color_level_dark_300: rgb(from var(--color_level_dark_hsl_300) r g b);
  --color_level_dark_400: rgb(from var(--color_level_dark_hsl_400) r g b);
  --color_level_dark_500: rgb(from var(--color_level_dark_hsl_500) r g b);
  --color_level_dark_600: rgb(from var(--color_level_dark_hsl_600) r g b);
  --color_level_dark_700: rgb(from var(--color_level_dark_hsl_700) r g b);
  
  /*Neutral brights*/
  --color_level_bright_100: rgb(from var(--color_level_bright_hsl_100) r g b);
  --color_level_bright_200: rgb(from var(--color_level_bright_hsl_200) r g b);
  --color_level_bright_300: rgb(from var(--color_level_bright_hsl_300) r g b);
  --color_level_bright_400: rgb(from var(--color_level_bright_hsl_400) r g b);
  --color_level_bright_500: rgb(from var(--color_level_bright_hsl_500) r g b);
  --color_level_bright_600: rgb(from var(--color_level_bright_hsl_600) r g b);
  --color_level_bright_700: rgb(from var(--color_level_bright_hsl_700) r g b);



/*-----------------------------------------*/ 
/*TYPOGRAPHY*/
/*typefaces:*/
--typeface-heading: "Open Sans", sans-serif;
--typeface-body: "Open Sans", sans-serif;
--font-size-body: 1rem;

  
 /*weight from 300 to 800*/
--font-weight-key: 300;
  
  /*font sizes*/
  --font-size-small: calc(var(--font-size-body) / var(--module_ratio));
  --font-size-h6: calc(var(--font-size-body)*var(--module_ratio));
  --font-size-h5: calc(var(--font-size-h6) * var(--module_ratio));
  --font-size-h4: calc(var(--font-size-h5) * var(--module_ratio));
  --font-size-h3: calc(var(--font-size-h4) * var(--module_ratio));
  --font-size-h2: calc(var(--font-size-h3) * var(--module_ratio));
  --font-size-h1: calc(var(--font-size-h2) * var(--module_ratio));
  
  /*font weights--Variable Fonts only*/
  --font-weight-h6: calc(var(--font-weight-key) * var(--module_ratio));
  --font-weight-h5: calc(var(--font-weight-h6) * var(--module_ratio));
  --font-weight-h4: calc(var(--font-weight-h5) * var(--module_ratio));
  --font-weight-h3: calc(var(--font-weight-h4) * var(--module_ratio));
  --font-weight-h2: calc(var(--font-weight-h3) * var(--module_ratio));
  --font-weight-h1: calc(var(--font-weight-h2) * var(--module_ratio));
  }
}

.mainTheme--bright{
  --font_color: black;
  --bg_color: smokewhite;
  --layout_border: rgba(0, 0, 0, 0.15);
  --font_color--clickable: #007FDA;
}
.mainTheme--dark{
  --font_color: white;
  --bg_color: #1e1e1e;
  --layout_border: rgba(255, 255, 255, 0.15);
  --font_color--clickable: #119BFF;
}
body{
  color: var(--font_color);
  background: var(--bg_color);
  width:100vw;
  display:flex;
  flex-direction:column;
  margin:0;
  padding:0;
  font-family: Arial, Sans-Serif;
  font-weight:regular;
  font-size:16px;
}
.header{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  
  font-weight:200;
  margin-bottom:3rem;
  padding:1rem;
  width:auto;
  border-bottom: 1px solid var(--layout_border);
  
}
 .header_title{
    display:flex;
    flex-direction:row;
   gap:0.5rem;
  }
#themeSwitch{
  
}
a{
  color: var(--font_color--clickable);
}
.bodyText{
  font-family: var(--typeface-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-key);
}
.bodyText--small{
  font-family: var(--typeface-body);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-key);
  
}
.heading_06{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}
.heading_05{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}
.heading_04{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}
.heading_03{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}
.heading_02{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}
.heading_01{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}
.wrapper__primary_color{
  display:grid;
  grid-template-columns: auto 2rem;
  grid-template-rows: auto 2rem;
}
.main_color_input{
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
  width:100%;
  
  display:flex;
  flex-direction: row-reverse; 
  
}
.input_field--emphasized{
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
  text-transform:uppercase;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  flex:1;
  border:none;
  font-size: clamp(3rem, 8vmax, 8rem);
  font-weight: var(--font-weight-h2);
  padding-left:1.5rem;
  background-color: var(--color_primary);
  z-index:0;
}

.input_field--emphasized:focus{
background-color: var(--color_primary);
border:none;
outline: 1rem solid var(--layout_border);
outline-offset: -1rem ;

}

.button_copy{
    width:1rem;
    height:1rem;
    padding:0.5rem;
    grid-column: 2/ span 1;
  grid-row: 2/ span 1;
  z-index:10;
  cursor: pointer;
  color:inherit;
  }
.button_copy:hover{
    opacity:0.5;
  color:inherit;
  }

#ctrl_hues{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  
}
.wrapper_color_picker{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  gap:1.2rem;
  justify-content:center;
  height:100%;
  margin-bottom:0.5rem;
}

.color_thumb{
  height:1.5rem;
  width:1.5rem;
  background-color:var(--color_primary);
  border-radius:50%;
  padding-bottom:0.25rem;
}

.wrapper_segCtrl{
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-between;
  aligh-items:flex-start;
  gap:1rem;
  width: 37%;
}

.segCtrl{
  display:inline-flex;
  gap:0.5rem;
  flex-direction:row;
  align-items:flex-start;
  
  
}

.segCtrl_tab{
  width:1.5rem;
  height:1.5rem;
  color:var(--font_color);
  cursor:pointer;
  padding-bottom:0.25rem;
  
}

.utility_icon{
    width:1.5rem;
  height:1.5rem;
  color:var(--font_color);
}
/*hiding spinboxes from number text inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  
}
/*colorpicker autocomplete*/
input[type="color"] {
	-webkit-appearance: none;
	border: solid 0px ;
  border-radius:50%;
	width: 2rem;
	height: 2rem;
  border-radius:50%;
  overflow:hidden;
 
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/*styling range pickers*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;

  
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
   appearance: none;
  margin-top: -0.27rem;
   ; /* Centers thumb on the track */
   background-color: var(--font_color);
   height: 0.66rem;
   width: 0.66rem; 
  border-radius:50%;
  background:var(--font_color);
}
input[type="range"]::-moz-slider-thumb{
  -webkit-appearance: none; /* Override default look */
   appearance: none;
  margin-top: -0.27rem;
   ; /* Centers thumb on the track */
   background-color: var(--font_color);
   height: 0.66rem;
   width: 0.66rem; 
  border-radius:50%;
  background:var(--font_color);
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--layout_border);
  height: 0.15rem;
  
  border-radius:0.25rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--layout_border);
  height: 0.33rem;
 
}


.color_picker_menu {
    display: none;
    position: absolute;
}

#colorInput:focus + .color_picker_menu {
    display: block;
}
/**/
/*Theme harmony selectors*/

/*Hiding default radio buttons*/
input[type="radio"] {
  display: none; /* Hide the default radio buttons */
  
}

 input[type="radio"]:checked+label {
  
  color:black;
  border-bottom: 2px solid var(--font_color);
  
}
/*sliders*/
.input_slider{
  width:100%;
  display:flex;
  gap:0.75rem;
  margin:auto;
  accent-color: var(--font_color);
  
}


.input_slider label{
  grid-row:1;
  font-size:var(--font-size-small);
  self-align:bottom;
}
.input_slider input{
  grid-row:2;
     outline-width:thin;
    outline-offset:0.25rem;
  
 
}
.input_slider .sliderInp{
  grid-column:1 / 3;
  
  
}
.input_slider .numberInp {
    grid-column: 4 / 5;
  color: var(--font_color);
}

.numberInp {
  border-radius:0.25rem;
    background: transparent;
  text-align:center;
    border: 1px solid var(--layout_border); /* Corrected border declaration */
}

.numberInp:focus {
  border-radius:0.25rem;
    background: var(--layout_border);
    border: 1px solid var(--layout_border); /* Corrected border declaration */
  
}

.sliders_column{
  margin-top:1rem;
 width:37%;
 flex:0.66;
 display:flex;
 flex-direction:column;
 gap:1rem;
 align-self: flex-end;
 height:auto;
 
}

.palette_brand{
  width:100%;
  height:25vh;
  display: flex;
  flex-flow:row wrap;
  list-style:none;
  
}
.palette_brand li:nth-child(1) {
  margin:0;
  padding:0;
  
  background-color: var(--color_primary);
  flex: 1;
  
}
.palette_brand li:nth-child(2){
  background-color: var(--color_secondary_rgb); 
  
  flex: 0.6;
}


.palettes_section{
  display:flex;
  flex-direction:column;
  width:90%;
 height:auto;
  gap:1rem;
  margin:auto;
  margin-top:2rem;
  border-radius:1rem;
  
}
h5{
  font-size:1rem;
  font-weight:300;
}
.palette{
  width:100%;
  height:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content:start;
  align-content: start;
  list-style:none;
  border-radius:1rem;
  overflow:hidden;
  
}

.colorTicker{
  position:relative;
  /*display:flex;
  justify-content:flex-end;
  align-items:flex-end;
 */
  display:grid;
  grid-template-rows:auto 2rem;
  grid-template-columns:auto 2rem;
  cursor:pointer;
  min-width: 5rem;
  min-height:12rem;
  height:100%;
  flex:1;
  font-size:var(--font-size-small);
  font-weight: var(--font-weight-key);
  text-align:right;
  grid-auto-flow: row;
  place-items:end;
  
}

.ticker__hex{
 grid-row:2 /span 1;
 grid-column:1 /span 1;
 
 vertical-align:center;
  font-size: var(--p-small);
  text-align:bottom;
  margin:auto;
  margin-right:0;
}
.icon_copy{
  grid-row:2 /span 1;
  grid-column:2 /span 1;
  width:0.85rem;
  height:0.85rem;
  margin:auto;
  
  
}
/*palettes spreading*/
.palette--primary li:nth-child(1) {
 background-color:var(--color_primary_100);
}
.palette--primary li:nth-child(2) {
 background-color:var(--color_primary_200);
}
.palette--primary li:nth-child(3) {
 background-color:var(--color_primary_300);
}
.palette--primary li:nth-child(4) {
 background-color:var(--color_primary_400);
}
.palette--primary li:nth-child(5) {
 background-color:var(--color_primary_500);
}
.palette--primary li:nth-child(6) {
 background-color:var(--color_primary_600);
}
.palette--primary li:nth-child(7) {
 background-color:var(--color_primary_700);
}


.palette--secondary li:nth-child(1) {
 background-color:var(--color_secondary_100);
}
.palette--secondary li:nth-child(2) {
 background-color:var(--color_secondary_200);
}
.palette--secondary li:nth-child(3) {
 background-color:var(--color_secondary_300);
}
.palette--secondary li:nth-child(4) {
 background-color:var(--color_secondary_400);
}
.palette--secondary li:nth-child(5) {
 background-color:var(--color_secondary_500);
}
.palette--secondary li:nth-child(6) {
 background-color:var(--color_secondary_600);
}
.palette--secondary li:nth-child(7) {
 background-color:var(--color_secondary_700);
}
.palette--dark{
  color:rgba(255,255,255,0.66);
}
.palette--bright{
  color:rgba(0,0,0,0.5);
}

.palette--dark li:nth-child(1) {
 background-color: var(--color_level_dark_100);
}
.palette--dark li:nth-child(2) {
 background-color:var(--color_level_dark_200);
}
.palette--dark li:nth-child(3) {
 background-color:var(--color_level_dark_300);
}
.palette--dark li:nth-child(4) {
 background-color:var(--color_level_dark_400);
}
.palette--dark li:nth-child(5) {
 background-color:var(--color_level_dark_500);
}
.palette--dark li:nth-child(6) {
 background-color:var(--color_level_dark_600);
}
.palette--dark li:nth-child(7) {
 background-color:var(--color_level_dark_700);
}


.palette--bright li:nth-child(1) {
 background-color:var(--color_level_bright_100);
}
.palette--bright li:nth-child(2) {
 background-color:var(--color_level_bright_200);
}
.palette--bright li:nth-child(3) {
 background-color:var(--color_level_bright_300);
}
.palette--bright li:nth-child(4) {
 background-color:var(--color_level_bright_400);
}
.palette--bright li:nth-child(5) {
 background-color:var(--color_level_bright_500);
}
.palette--bright li:nth-child(6) {
 background-color:var(--color_level_bright_600);
}
.palette--bright li:nth-child(7) {
 background-color:var(--color_level_bright_700);
}







.button{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:0.5rem;
  padding:0.5rem;
  font-size: var(--font-size-body);
  font-weight:medium;
  background:transparent;
  border:none;
  border-radius:0.25rem;
  cursor:pointer;
}
.button:hover{
  background:lavender;
}
.button:focus{
  background:lavender;
}
.icon_reset{
  width:1rem;
  height:1rem; 
}
/*Toggle switch styling:*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 1.85rem;
  height: 1.5rem;
}
.wrapper__primary_color #mainInput_copyToCB{
  color:currentColor !important;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -0.95rem;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  transform:scale(0.75);
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.95rem;
  width: 0.95rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: transparent;
  opacity:0.66;
  border: solid 1px currentColor;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: transparent;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.33rem);
  -ms-transform: translateX(1.33rem);
  transform: translateX(1.33rem);
  background:currentColor;
  opacity:1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
  border:solid 1px currentColor;
}

.slider.round:before {
  border-radius: 50%;
  /*border:solid 1px currentColor;*/
}
/*End of Toggle-switch styling*/

.toggle_comp{
  display:flex;
  flex-direction:row;
  gap:1rem;
  align-items:center;
}

.footer{
  width:100%;
  text-align:center;
  line-height:2;
  border-top: solid 1px var(--layout_border); 
  
  
  height:2rem;
  display:grid;
  place-items:center;
  color: var(--font_color);
  
  margin-top:2rem;
  margin-bottom:2rem;
}
.footer p{
  padding:2rem;
  margin:auto;
}

@media only screen and (max-width: 760px) {
  
  .header{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  
  font-weight:200;
  margin-bottom:0;
  padding:1rem;
  width:auto;
  border-bottom: 1px solid var(--layout_border);
  
}
  .header_title{
    display:flex;
    flex-direction:column;
    gap:0.25rem;
  }
  .palettes_section{
  display:flex;
  flex-direction:column;
  width:90%;
 height:auto;
  margin:auto;
  margin-top:2rem;
  border-radius:1rem;
}
  .colorTicker{
  min-height:8rem;

}
  .palette_brand{
    /*flex-direction:column;*/
    height:50vmin;
  }
  .palette_brand colorTicker{
    height:inherit;
  }
  .palette_brand li:nth-child(1) {
  margin:0;
  padding:0;
  
  background-color: var(--color_primary);
  flex: 1;
  
}
.palette_brand li:nth-child(2){
  background-color: var(--color_secondary_rgb); 
  
  flex: 0.8;
}
  
.sliders_column{
  margin:auto;
 margin-top:1rem;
 width:100%;
 flex:1;
 display:flex;
 flex-direction:column;
 gap:1rem; 
 align-self: flex-end;
 height:auto;
}
.input_field--emphasized{
  font-size: 6vw;
 
}
 .ctrl_hues{
    display:grid;
    grid-template-columns: auto auto;
    grid template-rows: 50% 50%;
 
   gap:0.5rem;
  }
  .wrapper_color_picker{
    margin:0;
    padding:0;
    grid-column: 1 /2;
    grid-rows: 1/ 3;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column-reverse;
   
    
    
  }
  .color_thumb{
  height:1.75rem;
  width:1.75rem;
  background-color:var(--color_primary);
  border-radius:50%;
  padding: 0.25rem;
    border-bottom: 2px solid transparent;
  
}

  .wrapper_segCtrl{
    grid-column: 2 /3;
    grid-rows: 1/ 3; 
    flex-direction:column;
    align-items:flex-end;
    margin:0;
    padding:0;
   
  }
  .segCtrl{
  display:inline-flex;
  height:100%;
  align-items:flex-start;
  flex-direction:row;
}
  .segCtrl_tab{
  width:2rem;
  height:2rem;
  color:var(--font_color);
  cursor:pointer;
  padding-bottom:0.25rem;
}
  input[type="range"]::-webkit-slider-thumb{
   height: 1rem;
   width: 1rem; 
}
input[type="range"]::-moz-slider-thumb{
   height: 1rem;
   width: 1rem; 
 
}
.slider {
  transform:scale(1);
}
  .toggle_comp{
  display:flex;
  flex-direction:row;
  gap:1.5rem;
  align-items:center;
}
  
}