/**
* This file holds the styles for buttonSoup UI. 
* buttonSoup generates full-scale color-systems from a single color, based on a relative color calculations done in CSS.
* The color system is written in an external CSS file (https://buttonsoup.xyz/colorSystem.css), and can be caliberated, imported and used in any web project. 
* You can see buttonSoup live at: 
* https://buttonsoup.xyz
* The github repository at:
* https://github.com/avinvadas/buttonSoup
* Copy the color system from the following Gist:
* https://gist.github.com/avinvadas/226b0c93417f0a28ce8c51f854ab3387
* And play with live implementation here:
* https://jsfiddle.net/avinvadas/t1cfs0bv/234/
**/


/* Importing the relative color system */
@import url('./colorSystem.css');

/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* General settings: */
* {
  margin:0;
  padding:0;
    

  /* Exposed settings for the color management: */
  --color-primary-hex: #000000; /* Primary color: */
  --hue-dif: 180;  /* Harmony type (0-360) */
  --lightness: 50; /* Lightness scales medial point */
  --lightness-black: 20; /* Dark scales brightest edge */
  --lightness-white: 100; /* Bright scales brightest edge */
  --saturation-factor: 5; /* Neutral scales Chroma level. 0 for absolute grayscale */

    /* Scales added constants */
    --scale-100:45;
    --scale-200:35;
    --scale-300:25;
    --scale-400:15;
    --scale-500:0;
    --scale-600:-20;
    --scale-700:-35;

/* Typography core settings */
--font-size-body: 16px;
--typeface-heading: "Open Sans", sans-serif;
--typeface-body: "Open Sans", sans-serif;
--typeface-number: "Oswald", sans-serif;
--font-weight-key: 300;/* 300 to 800 */
--module-ratio: 1.33; /* proportions ratio */

font-size: var(--font-size-body);


  /* Typography font sizes */
  --font-size-small:  max(calc(var(--font-size-body) / var(--module-ratio)), 0.85rem);
  --font-size-h6: calc(var(--font-size-body));
  --font-size-h5: calc(var(--font-size-h6) * var(--module-ratio)*);
  --font-size-h4: calc(var(--font-size-h5) * var(--module-ratio));
  --font-size-h3: calc(var(--font-size-h4) * var(--module-ratio));
  --font-size-h2: calc(var(--font-size-h3) * var(--module-ratio));
  --font-size-h1: calc(var(--font-size-h2) * var(--module-ratio));
  
  /* Typography font weights */
  --font-weight-body-strong: calc(var(--font-weight-key) * var(--module-ratio));
  --font-weight-h6: calc(var(--font-weight-key) * var(--module-ratio));
  --font-weight-h5: calc(var(--font-weight-h6) * var(--module-ratio));
  --font-weight-h4: calc(var(--font-weight-h5) * var(--module-ratio));
  --font-weight-h3: calc(var(--font-weight-h4) * var(--module-ratio));
  --font-weight-h2: calc(var(--font-weight-h3) * var(--module-ratio));
  --font-weight-h1: calc(var(--font-weight-h2) * var(--module-ratio));
}

/* Color settings for bright-mode theme */
.main-theme-bright{
  --font-color: black;
  --bg-color: #fafafa;
  --layout-border: rgba(0, 0, 0, 0.15);
  --layout-skelekton:rgba(0, 0, 0, 0.15);
  --font-color-clickable: #007FDA;
  --utility-color-error: #d73c3c;
  --input-border: rgba(0, 0, 0, 0.33);
}

.main-theme-bright .exclude-from-color-theme{
  color: initial;
  background: initial;
}

/* Color settings for dark-mode theme */
.main-theme-dark{
  --font-color: white;
  --bg-color: #1e1e1e;
  --layout-border: rgba(255, 255, 255, 0.15);
  --layout-skelekton:rgba(255, 255, 255, 0.15);
  --font-color-clickable: #52d6fc;
  --utility-color-error: #ff6d6d;
  --input-border: rgba(255, 255, 255, 0.5);
}

.main-theme-dark .exclude-from-color-theme{
  color: initial;
  background: initial;
}

/* Layout styles */ 
body{
  color: var(--font-color);
  background: var(--bg-color);
  width:100vw;
  display:flex;
  flex-direction:column;
  margin:0;
  padding:0;
  font-family: Arial, sans-serif;
  font-weight:regular;
  font-size:16px;
}

/* header */ 
.header{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  font-weight:200;
  margin-bottom:3rem;
  padding:1rem;
  width:auto;
  border-bottom: 1px solid var(--layout-border);
}

 .header-title{
   display:flex;
   flex-direction:row;
   gap:0.5rem;
   align-items:center;
   text-align:baseline;
   justify-content:space-around;
   left:0;
  }

  .header-logo{
    display:flex;
    justify-content:flex-start;
    gap:0;
    width:7rem;
  }
  
  /* Text styles */ 
  a{
  color: var(--font-color-clickable);
  }

  .body-text{
  font-family: var(--typeface-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-key);
  }

 .body-text-strong{
  font-family: var(--typeface-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body-strong);
}

.body-text-small{
  font-family: var(--typeface-body);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-key);
}

.body-text-small-strong{
  font-family: var(--typeface-body);
  font-size: var(--font-size-small);
  font-weight:var(--font-weight-body-strong);
}

.heading-06{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}

.heading-05{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

.heading-04{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

.heading-03{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

.heading-02{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.heading-01{
  font-family: var(--typeface-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.text-error{
  font-family: var(--typeface-body);
  font-size: var(--font-size-small);
  font-weight:var(--font-weight-h5);
  color: white;
  background: var(--utility-color-error);
  padding:0.25rem;
  padding-right:0.5rem;
  padding-left:0.5rem;
  border-radius:0.15rem;
  text-align:center;
}

/* main color input controls (primary and secondary colors) */
.wrapper-primary-color{
  display:grid;
  grid-template-columns: auto 2rem;
  grid-template-rows: auto 2rem;
}

/* Primary Color text input */
.main-color-input{
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
  width:100%;
  display:flex;
  flex-direction: row-reverse; 
}

.input-field-emphasized{ 
  font-family: var(--typeface-number);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  grid-column:1/ span 2;
  grid-row: 1/ span 2;
  text-transform:uppercase;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  flex:1;
  border:none;
  font-size: clamp(3rem, 8vmax, 8rem);
  padding-left:1.5rem;
  background-color: var(--color-primary);
  z-index:0;
}

#main-input-label{
  width:60%;
}

.input-field-emphasize:focus{
background-color: var(--color-primary);
border:none;
outline: 1rem solid var(--layout-border);
outline-offset: -1rem ;
}

.input-field-emphasize::-webkit-input-placeholder {
  color: rgb(from var(--font-color) r g b / 0.25);
  background: transparent;
}

.button-copy{
  width:1rem;
  height:1rem;
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
  z-index:10;
  cursor: pointer;
  color:inherit;
  }

.button-copy:hover{
    opacity:0.5;
    color:inherit;
  }

/* Primary color Color-picker */
.wrapper-color-picker{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  gap:0.5rem;
  justify-content:center;
  align-items:center;
  height:100%; 
}

.color-thumb{
  height:1.5rem;
  width:1.5rem;
  background-color:var(--color-primary);
  border-radius:50%;
  padding-bottom:0.25rem;
}

 /* Harmony selection ctrl */
 #ctrl-hues{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

.wrapper-seg-ctrl{
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
  width: 37%;
}

.seg-ctrl{
  display:inline-flex;
  gap:0.5rem;
  flex-direction:row;
  align-items:flex-start;
}

.seg-ctrl-tab{
  width:1.5rem;
  height:1.5rem;
  color:var(--font-color);
  cursor:pointer;
  padding-bottom:0.25rem;
}

.utility-icon{
  width:1.5rem;
  height:1.5rem;
  color:var(--font-color);
}

/*hiding spinboxes from number text inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type= number] {
  -moz-appearance: textfield;
  
}

/* colorpicker autocomplete */
input[type="color"] {
	-webkit-appearance: none;
	border: 2px solid var(--input-border);
  border-radius:50%;
	width: 2rem;
	height: 2rem;
  border-radius:50%;
  overflow:hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* Saturation and Lightness range pickers */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%; 
}
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.27rem;

  /* Centers thumb on the track */
   height: 0.66rem;
   width: 0.66rem; 
  border-radius:50%;
  background-color:var(--font-color);
}
/* Firefox */ 
input[type="range"]::-moz-slider-thumb{
  -webkit-appearance: none; /* Override default look */
   appearance: none;
  margin-top: -0.27rem;

  /* Centers thumb on the track */
   background-color: var(--font-color);
   height: 0.66rem;
   width: 0.66rem; 
  border-radius:50%;
}

/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--layout-border);
  height: 0.15rem;
  border-radius:0.25rem;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--layout-border);
  height: 0.33rem;
 
}

.color-picker-menu{
    display: none;
    position: absolute;
}

#color-input:focus + .color-picker-menu{
    display: block;
}

/* Primary and secondary color component layout */
.palette-brand{
  width:100%;
  min-height:25vh;
  height:100%;
  display: flex;
  flex-flow:row wrap;
  list-style:none;
  padding:0;
  margin:0;
}

.palette-brand li:nth-child(1) {
  margin:0;
  padding:0;
  background-color: var(--color-primary);
  flex: 1;
}

.palette-brand li:nth-child(2){
  background-color: var(--color-secondary-rgb); 
  flex: 0.6;
}



/* Theme harmony selectors */
input[type="radio"] { /* Hiding default  */
  display: none; 
}

 input[type="radio"]:checked+label {
  color:black;
  border-bottom: 2px solid var(--font-color);
}

/* sliders */
.color-adjust-input{
  width:100%;
  display:flex;
  gap:0.75rem;
  margin:auto;
  accent-color: var(--font-color);
}

.color-adjust-input label{
  grid-row:1;
  font-size:var(--font-size-small);
  self-align:bottom;
}

.color-adjust-input input{
  grid-row:2;
  outline-width:thin;
  outline-offset:0.25rem;
}

.color-adjust-input .slider-input{
  grid-column:1 / 3;
}

.color-adjust-input .number-input {
  grid-column: 4 / 5;
  color: var(--font-color);
}

.number-input {
  border-radius:0.25rem;
  background: transparent;
  text-align:center;
  border: 1px solid var(--layout-border); /* Corrected border declaration */
}

.number-input:focus {
  border-radius:0.25rem;
    background: var(--layout-border);
    border: 1px solid var(--layout-border); /* Corrected border declaration */
  
}

.sliders-column{ /* Color adjusters layout */
  margin-top:1rem;
 width:37%;
 flex:0.66;
 display:flex;
 flex-direction:column;
 gap:1rem;
 align-self: flex-end;
 height:auto;
}

/* WCAG2.1 Contrast status indicator */
.label-and-status{
  width:100%;
  display:flex;
  gap:0.5rem;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-between;
}

#contrast-status{
  display:grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content;
  align-items:center;
  gap:0.5rem;
  width:fit-content;
  height:1rem;
  margin-left: 0.25rem;
}

#contrast-status > p{
  margin:0;
  padding:0;
  height:1rem;
  display:grid;
  grid-template-columns: 1rem auto;
  gap:0.25rem;
  align-items:center;
  align-self:end;
  width:auto;
  border-radius:0.25rem;
}

#contrast-status >  .valid{
opacity:1;
color: currentcolor;
font-weight: var(--font-weight-h4);
}

#contrast-status > .invalid{
  opacity:0.5;
}

.icon-status{
  width: 1rem;
  height: 1rem;
  margin:0;
  padding:0;
  display:grid;
  place-items:center;
}

.icon-status svg{ /* Passing-non-passing icons */
  width: inherit;
  height: inherit;
  margin:0;
}

 /* Palette sections styles */
 .palette-heading{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:last baseline;
}

 /* copy as JSON button */
.button-copy-palette{
  color: var(--font-color);
  font-family: var(--typeface-body);
  font-size:var(--font-size-small);
  font-weight:200;
  opacity:0.85;
  border:none;
  padding:0.5rem;
  cursor:pointer;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:0.25rem;
  width:auto;
  margin-left:0.5rem;
  border-radius:0.25rem;
  border: 1px solid var(--font-color);
  background:transparent;
}

.button-copy-palette svg{
  width:1rem;
  height:1rem;
}

.button-copy-palette:hover{
  color: var(--font-color);
  background: transparent;
  opacity:1;
}

.button-copy-palette:focus{
  color: var(--font-color);
  background: var(--layout-border);
  opacity:1;
}

.button-copy-palette:active{
  color: var(--font-color);
  background:rgb(from var(--font-color) r g b / 0.25); 
}


.palettes-section{
  display:flex;
  flex-direction:column;
  width:90%;
  height:auto;
  gap:1rem;
  margin:auto;
  margin-top:2rem;
  border-radius:1rem;
}

.palette{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:start;
  list-style:none;
  border-radius:1rem;
  overflow:hidden;
  background:var(--layout-skelekton);
}

.color-ticker{
  position:relative;
  display:grid;
  grid-template-rows: auto 2rem;
  grid-template-columns: auto 2rem;
  cursor:pointer;
  min-width: 5rem;
  min-height:12rem;
  flex:1;
  font-family: var(--typeface-number);
  font-size:var(--font-size-body);
  font-weight: 300;
  text-align:center;
  grid-auto-flow: row;
  place-items:end;
  gap:0.25rem;
  z-index:0;
}

.palettes-accent .palette{
  margin-bottom:1rem;
}

.palettes-accent .color-ticker{
  min-height:8rem;
}

.ticker-hex{
 grid-row:2 /span 1;
 grid-column:1 /span 1;
 opacity:0.66;
 vertical-align:center;
  font-size: var(--font-size-small);
  align-self:flex-start;
}

.icon-copy{
  grid-row:2 / span 1;
  grid-column:2 / span 1;
  width:1rem;
  height:1rem;
  margin: auto;
  margin-top:0;
  margin-left:0;
  opacity:0.8;
  align-self:flex-start;
}

.wrapper-primary-color #main-input-copy-to-cb{
  color:currentColor !important;
}

/* Textual section layout */
.section-text{
  display:flex;
  flex-direction:column;
  width:90%;
 height:auto;
  margin:auto;
  margin-top:4rem;
  margin-bottom:2rem;
  border-radius:1rem;
}

.section-text h6{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:0.5rem;
}

.section-text p{
  max-width: 75ch;
  opacity:0.8;
}

.icon-reset{
  width:1rem;
  height:1rem; 
}

/* Color System Palettes presentation: */

/* Primary color scales */
.palette-primary li:nth-child(1) {
 background-color:var(--color-primary-100);
}

.palette-primary li:nth-child(2) {
 background-color:var(--color-primary-200);
}

.palette-primary li:nth-child(3) {
 background-color:var(--color-primary-300);
}

.palette-primary li:nth-child(4) {
 background-color:var(--color-primary-400);
}

.palette-primary li:nth-child(5) {
 background-color:var(--color-primary-500);
}

.palette-primary li:nth-child(6) {
 background-color:var(--color-primary-600);
}

.palette-primary li:nth-child(7) {
 background-color:var(--color-primary-700);
}

/* Secondary color scales */
.palette-secondary li:nth-child(1) {
 background-color:var(--color-secondary-100);
}

.palette-secondary li:nth-child(2) {
 background-color:var(--color-secondary-200);
}

.palette-secondary li:nth-child(3) {
 background-color:var(--color-secondary-300);
}

.palette-secondary li:nth-child(4) {
 background-color:var(--color-secondary-400);
}

.palette-secondary li:nth-child(5) {
 background-color:var(--color-secondary-500);
}

.palette-secondary li:nth-child(6) {
 background-color:var(--color-secondary-600);
}

.palette-secondary li:nth-child(7) {
 background-color:var(--color-secondary-700);
}

/* Accent01 colors */
.palette-accent-01 li:nth-child(1){
  background-color:var(--color-accent-01-a);
}

.palette-accent-01 li:nth-child(2){
  background-color:var(--color-accent-01-b);
}

.palette-accent-01 li:nth-child(3){
  background-color:var(--color-accent-01-c);
}

.palette-accent-01 li:nth-child(4){
  background-color:var(--color-accent-01-d);
}

.palette-accent-01 li:nth-child(5){
  background-color:var(--color-accent-01-e);
}

/* Accent02 colors */
.palette-accent-02 li:nth-child(1){
  background-color:var(--color-accent-02-a);
}

.palette-accent-02 li:nth-child(2){
  background-color:var(--color-accent-02-b);
}

.palette-accent-02 li:nth-child(3){
  background-color:var(--color-accent-02-c);
}

.palette-accent-02 li:nth-child(4){
  background-color:var(--color-accent-02-d);
}

.palette-accent-02 li:nth-child(5){
  background-color:var(--color-accent-02-e);
}

/* Accent03 colors */
.palette-accent-03 li:nth-child(1){
  background-color:var(--color-accent-03-a);
}

.palette-accent-03 li:nth-child(2){
  background-color:var(--color-accent-03-b);
}

.palette-accent-03 li:nth-child(3){
  background-color:var(--color-accent-03-c);
}

.palette-accent-03 li:nth-child(4){
  background-color:var(--color-accent-03-d);
}

.palette-accent-03 li:nth-child(5){
  background-color:var(--color-accent-03-e);
}

/* dark& bright palette colors*/
.palette-dark{
  color: rgba(255,255,255,0.66);
}

.palette-bright{
  color: rgba(0,0,0,0.5);
}

/* Neutral dark scales */
.palette-dark li:nth-child(1) {
 background-color: var(--color-level-dark-100);
}

.palette-dark li:nth-child(2) {
 background-color:var(--color-level-dark-200);
}

.palette-dark li:nth-child(3) {
 background-color:var(--color-level-dark-300);
}

.palette-dark li:nth-child(4) {
 background-color:var(--color-level-dark-400);
}

.palette-dark li:nth-child(5) {
 background-color:var(--color-level-dark-500);
}

.palette-dark li:nth-child(6) {
 background-color:var(--color-level-dark-600);
}

.palette-dark li:nth-child(7) {
 background-color:var(--color-level-dark-700);
}

/* Neutral bright scales */
.palette-bright li:nth-child(1) {
 background-color:var(--color-level-bright-100);
}

.palette-bright li:nth-child(2) {
 background-color:var(--color-level-bright-200);
}

.palette-bright li:nth-child(3) {
 background-color:var(--color-level-bright-300);
}

.palette-bright li:nth-child(4) {
 background-color:var(--color-level-bright-400);
}

.palette-bright li:nth-child(5) {
 background-color:var(--color-level-bright-500);
}

.palette-bright li:nth-child(6) {
 background-color:var(--color-level-bright-600);
}

.palette-bright li:nth-child(7) {
 background-color:var(--color-level-bright-700);
}

/* Toggle switch styling: */

.switch {
  position: relative;
  display: inline-block;
  width: 1.85rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Switch slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -1rem;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  transform:1;
}

.slider::before {
  position: absolute;
  content: "";
  height: 0.95rem;
  width: 0.95rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: transparent;
  opacity:0.66;
  border: solid 1px currentColor;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: transparent;
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.33rem);
  -ms-transform: translateX(1.33rem);
  transform: translateX(1.33rem);
  background:currentColor;
  opacity:1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
  border:solid 1px currentColor;
}

.slider.round::before{
  border-radius: 50%;
}

.toggle-comp{
  display:flex;
  flex-direction:row;
  gap:1.5rem;
  align-items:center;
}

.footer{
  width:100%;
  text-align:center;
  line-height:2;
  border-top: solid 1px var(--layout-border); 
  height:2rem;
  display:grid;
  place-items:center;
  color: var(--font-color);
  margin-top:2rem;
  margin-bottom:2rem;
}

.footer p{
  padding:2rem;
  margin:auto;
}

@media only screen and (max-width: 760px) {
 .header{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  font-weight:200;
  margin-bottom:0;
  padding:1rem;
  width:auto;
  border-bottom: 1px solid var(--layout-border);
}

.header-title{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  gap:0.25rem;
  }

.palettes-section{
  display:flex;
  flex-direction:column;
  width:90%;
  height:auto;
  margin:auto;
  margin-top:2rem;
  border-radius:1rem;
}

.color-ticker{
  min-height:8rem;
}

.palette-brand{
    height:50vmin;
    display:flex; 
}

.palette-brand .color-ticker{
  height:inherit;
}

.palette-brand li:nth-child(1) {
  margin:0;
  padding:0;
  background-color: var(--color-primary);
}

.palette-brand li:nth-child(2){
  background-color: var(--color-secondary-rgb); 
  flex: 0.8;
}
 
#main-input-label{
  width:100%;
}

.sliders-column{
  margin:auto;
 margin-top:1rem;
 width:100%;
 flex:1;
 display:flex;
 flex-direction:column;
 gap:1rem; 
 align-self: flex-end;
 height:auto;
}

.input-field-emphasized{
  font-size: 10vw;
  text-align:center;
  margin:auto;
  padding-left:0;
}

.color-ticker{
  position:relative;
  grid-template-rows: auto 2rem;
  grid-template-columns: auto 1.5rem; 
}

 #ctrl-hues{
    gap:0.5rem;
    align-items:flex-start;
}

 .wrapper-color-picker{
    margin:0;
    padding:0;
    grid-column: 1 /2;
    grid-row: 1/ 3;
    flex-direction:column-reverse;
    display:flex;
    gap:1rem;
    align-items:center;
    justify-content:flex-start;
  }

.color-thumb{
  height:1.8rem!important;
  width:1.8rem!important;
  background-color:var(--color-primary);
  border-radius:50%;
  margin-bottom:0.25rem;
  margin-top:0;
  align-self:flex-start;
}

input[type="color"]{
  width: 1.8rem;
  height:1.8rem;
  padding-bottom:0;
}

 .wrapper-seg-ctrl{
    grid-column: 2 /3;
    grid-row: 1/ 3; 
    flex-direction:column;
    align-items:flex-end;
    gap:1rem;
    margin:0;
    padding:0;
 }

 .seg-ctrl{
  display:inline-flex;
  height:100%;
  align-items:flex-start;
  flex-direction:row;
}

 .seg-ctrl-tab{
  width:2rem;
  height:2rem;
  color:var(--font-color);
  cursor:pointer;
  padding-bottom:0.25rem;
}

  input[type="range"]::-webkit-slider-thumb{
   height: 1rem;
   width: 1rem; 
}

input[type="range"]::-moz-slider-thumb{
   height: 1rem;
   width: 1rem; 
}

.slider {
  transform:scale(1);
}

.toggle-comp{
  display:flex;
  flex-direction:row;
  gap:1.5rem;
  align-items:center;
} 
}


@media only screen and (min-width:1920px) {
  *{
  font-size: 24px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 0.95rem;
    width: 0.95rem;
    left: 0.25rem;
    bottom: 0.22rem;
  }
}



/* This code is created and maintained by @avinvadas. 
You can use it, remix it, and share it as you like! All I ask is to keep this 
comment intact to spread the love.🍀

If anything doesn't work for you as expected, please feel free to contact me here or through https://avinvadas.com */