@import url("buttonSoup_color_System.css");

html{

/*Adjust your system's control here! 
1. Start by entering a Hex value for your primary:*/

--color_primary-hex: #ff5b5b;

/*
2.Set relations of secondary color:*/
--hue-differentiator: 120; /*set secondary color hue degree from 0 to 360*/
--ratio__sec_s:20; /*set secondary color saturation level from 0 to 100*/
--ratio__sec_l:50; /*set secondary color lightness level from 0 to 100*/


  /*primary and secondary levels*/
  --base_lightness: 50; /*medial point from 0 to 100*/
  /* Lightness edge dark theme: */
  --base_lightness_black: 20; 
  /* Lightness edge for bright theme: */
  --base_lightness_white: 100; 
 /*Chroma level. 0 for absolute grayscale*/
  --saturation-factor: 5;
}

/*Apply color vars to properties as usual. 
Change the value of --color_primary-hex and all system will change accordingly*/

body{
    color: var(--color_primary);
    background: var(--color_secondary); 
}


